.hidden {
    display: none;
}

.grid {
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    background-color: rgb(187, 173, 160);
}

.block {
    border-radius: 10%;
    background-color: rgb(204, 192, 180);
    width: 85px;
    height: 85px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    font-size: 60px;
    transition: 100ms ease-in-out;
}

@keyframes new {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 80px;
        height: 80px;
    }
}