.hidden {
    display: none;
}

.socre {
    display: absolute;
    width: 400px;
    height: 70px;
}

.grid {
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    background-color: rgb(187, 173, 160);
}

.block {
    border-radius: 10%;
    background-color: rgb(204, 192, 180);
    width: 85px;
    height: 85px;
    margin-left: 12px;
    font-size: 60px;
}

.two {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    color: rgb(78, 78, 78);
    background-color: rgb(238, 228, 218);
}

.four {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    color: rgb(78, 78, 78);
    background-color: rgb(235, 220, 192);
}

.eight {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    color: white;
    background-color: rgb(243, 178, 122)
}

.sixteen {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    color: white;
    background-color: rgb(239, 155, 80)
}

.three-two {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    color: white;
    background-color: rgb(242, 133, 96)
}

.six-four {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    color: white;
    background-color: rgb(239, 28, 44)
}

.OTE {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    color: white;
    background-color: rgb(252, 238, 114);
}

.TFS {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    color: white;
    background-color: rgb(251, 215, 106);
}

.FOT {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 12px;
    color: white;
    background-color: rgb(250, 206, 75);
}